{# event/head.html.twig #}

<div class="mb-6 w-3/4">
    <label for="title" class="block mb-2 text-xl font-medium text-gray-900 ">Titre de la vidéo :
        <span class="text-sm" for="title" style="float: right"> 35 </span>
    </label>
    <input type="text" id="title" required="required" maxlenght="35" minlenght="2"  name="title" class="bg-gray-50 text-sm rounded-lg focus:border-blue-500 w-full p-2.5 ">
</div>

<div class="mb-6 w-3/4">
    <label for="subtitle" class="block mb-2 text-xl font-medium text-gray-900 ">Subtitle :
        <span class="text-sm" for="subtitle" style="float: right"> 35 </span>
    </label>
    <input type="text" id="subtitle" name="subtitle" required="required" maxlenght="35" minlenght="2" class="bg-gray-50 text-sm rounded-lg focus:border-blue-500 w-full p-2.5 ">
</div>