{# refont/datefiled.html.twig #}

<div class="dates-diffusion flex flex-col py-2 my-2">
     <label class="block mb-3 pt-0">
            <span for={{ datename }} required="required" class="hidden">
                {{ datelabel }}
            </span>
            <input type="date" name={{ datename }} id="date-start" value="" 
                class="flex border border-gray-200 p-1 w-1/2 pl-4 pr-10 py-3 leading-none rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" />
        </label> 
</div>
    