
<div class="flex flex-col flex-1">
    <label class="block text-left border-1 rounded-md border-gray-200 shadow">
        <span for="{{ name }}" class="text-gray-700 infos_title flex font-bold tracking-wide text-xl whitespace-nowrap">
            {{ title }}
        </span>
        <textarea required="required" rows="5" placeholder="{{ title }}" name="{{ name }}" 
            class="events-body flex flex-1 border P-1 form-textarea mt-1 w-full infos_body"></textarea>
    </label>
</div>
